<p id="notice"><%= notice %></p>

<h1>Sows</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>A1 prop</th>
      <th>A1 est</th>
      <th>A2 prop</th>
      <th>A2 est</th>
      <th>Sa prop</th>
      <th>Sa est</th>
      <th>Mgr prop</th>
      <th>Mgr est</th>
      <th>Md prop</th>
      <th>Md est</th>
      <th>Vp prop</th>
      <th>Vp est</th>
      <th>Pres prop</th>
      <th>Pres est</th>
      <th>Exnet prop</th>
      <th>Exnet est</th>
      <th>Ops prop</th>
      <th>Ops est</th>
      <th>Int prop</th>
      <th>Int est</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sows.each do |sow| %>
      <tr>
        <td><%= sow.project_id %></td>
        <td><%= sow.A1_prop %></td>
        <td><%= sow.A1_est %></td>
        <td><%= sow.A2_prop %></td>
        <td><%= sow.A2_est %></td>
        <td><%= sow.SA_prop %></td>
        <td><%= sow.SA_est %></td>
        <td><%= sow.MGR_prop %></td>
        <td><%= sow.MGR_est %></td>
        <td><%= sow.MD_prop %></td>
        <td><%= sow.MD_est %></td>
        <td><%= sow.VP_prop %></td>
        <td><%= sow.VP_est %></td>
        <td><%= sow.PRES_prop %></td>
        <td><%= sow.PRES_est %></td>
        <td><%= sow.EXNET_prop %></td>
        <td><%= sow.EXNET_est %></td>
        <td><%= sow.OPS_prop %></td>
        <td><%= sow.OPS_est %></td>
        <td><%= sow.INT_prop %></td>
        <td><%= sow.INT_est %></td>
        <td><%= link_to 'Show', sow %></td>
        <td><%= link_to 'Edit', edit_sow_path(sow) %></td>
        <td><%= link_to 'Destroy', sow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sow', new_sow_path %>
