<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @sow.project_id %>
</p>

<p>
  <strong>A1 prop:</strong>
  <%= @sow.A1_prop %>
</p>

<p>
  <strong>A1 est:</strong>
  <%= @sow.A1_est %>
</p>

<p>
  <strong>A2 prop:</strong>
  <%= @sow.A2_prop %>
</p>

<p>
  <strong>A2 est:</strong>
  <%= @sow.A2_est %>
</p>

<p>
  <strong>Sa prop:</strong>
  <%= @sow.SA_prop %>
</p>

<p>
  <strong>Sa est:</strong>
  <%= @sow.SA_est %>
</p>

<p>
  <strong>Mgr prop:</strong>
  <%= @sow.MGR_prop %>
</p>

<p>
  <strong>Mgr est:</strong>
  <%= @sow.MGR_est %>
</p>

<p>
  <strong>Md prop:</strong>
  <%= @sow.MD_prop %>
</p>

<p>
  <strong>Md est:</strong>
  <%= @sow.MD_est %>
</p>

<p>
  <strong>Vp prop:</strong>
  <%= @sow.VP_prop %>
</p>

<p>
  <strong>Vp est:</strong>
  <%= @sow.VP_est %>
</p>

<p>
  <strong>Pres prop:</strong>
  <%= @sow.PRES_prop %>
</p>

<p>
  <strong>Pres est:</strong>
  <%= @sow.PRES_est %>
</p>

<p>
  <strong>Exnet prop:</strong>
  <%= @sow.EXNET_prop %>
</p>

<p>
  <strong>Exnet est:</strong>
  <%= @sow.EXNET_est %>
</p>

<p>
  <strong>Ops prop:</strong>
  <%= @sow.OPS_prop %>
</p>

<p>
  <strong>Ops est:</strong>
  <%= @sow.OPS_est %>
</p>

<p>
  <strong>Int prop:</strong>
  <%= @sow.INT_prop %>
</p>

<p>
  <strong>Int est:</strong>
  <%= @sow.INT_est %>
</p>

<%= link_to 'Edit', edit_sow_path(@sow) %> |
<%= link_to 'Back', sows_path %>
